#pragma code_page(65001)
#include "resource.h"

IDM_MANIFEST            RT_MANIFEST             "dpi.manifest"
IDI_MAINICON            ICON                    "mainicon.ico"
IDI_MODE_ALPHA          ICON                    "mode-alpha.ico"
IDI_MODE_ALPHA_W        ICON                    "mode-alpha-white.ico"
IDI_MODE_CONTINUOUS     ICON                    "mode-cont.ico"
IDI_MODE_CONTINUOUS_W   ICON                    "mode-cont-white.ico"
IDI_MODE_PRO            ICON                    "mode-pro.ico"
IDI_MODE_PRO_W          ICON                    "mode-pro-white.ico"
IDI_MODE_BASIC          ICON                    "mode-basic.ico"
IDI_MODE_BASIC_W        ICON                    "mode-basic-white.ico"
IDI_SETTINGS            ICON                    "cog.ico"
IDI_SETTINGS_W          ICON                    "cog-white.ico"

STRINGTABLE
BEGIN
    IDS_TEXT_SERVICE_DISPLAY_NAME "起引 Khíín Phah Jī Hoat"
END
