<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
    <?include Defines.wxi?>

    <Product Id="*" Name="KhiinPJH" Language="1033" Version="0.1.1"
        Manufacturer="!(loc.ManufacturerName)" UpgradeCode="$(var.GUID_UpgradeCode)">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

        <MajorUpgrade AllowSameVersionUpgrades="yes"
            DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="KhiinInstaller" Level="1">
            <ComponentGroupRef Id="CG_Files64" />
            <ComponentGroupRef Id="CG_Files32" />
            <!-- <ComponentGroupRef Id="CG_AppDataFiles" /> -->
            <ComponentGroupRef Id="CG_DllRegistration" />
            <ComponentGroupRef Id="CG_StartMenuShortcut" />
            <ComponentGroupRef Id="CG_RegistryEntries" />
        </Feature>

        <UI>
            <TextStyle Id="Font_Normal" FaceName="Microsoft JhengHei UI" Size="9" Bold="yes" />
            <TextStyle Id="Font_Bigger" FaceName="Microsoft JhengHei UI" Size="13" Bold="yes" />
            <TextStyle Id="Font_Title" FaceName="Microsoft JhengHei UI" Size="10" Bold="yes" />
            <UIRef Id="WixUI_Minimal" />
            <UIRef Id="WixUI_ErrorProgressText" />
        </UI>

        <WixVariable Id="WixUILicenseRtf" Value="$(var.Source_LicenseRtf_EN)" />
        <WixVariable Id="WixUIDialogBmp" Value="$(var.Source_UIDialogBmp)" />
        <Icon Id="icon.ico" SourceFile="$(var.Source_Icon)" />
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />

        <!-- <CustomActionRef Id="CA_CopyDatabaseToAppData" /> -->
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLDIR64" Name="$(var.MfrName)" />
            </Directory>
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR32" Name="$(var.MfrName)" />
            </Directory>
            <!-- <Directory Id="AppDataFolder">
                <Directory Id="APPDATADIR" Name="$(var.MfrName)" />
            </Directory> -->
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="$(var.MfrName)" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="CG_Files64" Directory="INSTALLDIR64">
            <Component Id="Comp_TipDll64" Guid="$(var.GUID_TipDll64)" Win64="yes">
                <File Id="File_TipDll64" Source="$(var.Source_TipDll64)"
                    Name="$(var.Target_TipDll64)" DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="Comp_ServiceExe" Guid="$(var.GUID_ServiceExe)" Win64="yes">
                <File Id="File_ServiceExe" Source="$(var.Source_ServiceExe)"
                    Name="$(var.Target_ServiceExe)" DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="Comp_AppExe" Guid="$(var.GUID_AppExe)" Win64="yes">
                <File Id="File_AppExe" Source="$(var.Source_AppExe)"
                    Name="$(var.Target_AppExe)" DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="Comp_Database" Guid="$(var.GUID_Database1)" Win64="yes">
                <File Id="File_Database" Source="$(var.Source_Database)"
                    Name="$(var.Target_Database)" DiskId="1" KeyPath="yes" />
            </Component>
            <!-- <Component Id="Comp_Config1" Guid="$(var.GUID_Config1)" Win64="yes">
                <File Id="File_Config1" Source="$(var.Source_Config)" Name="$(var.Target_Config)"
                    DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="Comp_UserDb1" Guid="$(var.GUID_UserDb1)" Win64="yes">
                <File Id="File_UserDb1" Source="$(var.Source_UserDb)" Name="$(var.Target_UserDb)"
                    DiskId="1" KeyPath="yes" />
            </Component> -->
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="CG_Files32" Directory="INSTALLDIR32">
            <Component Id="Comp_TipDll32" Guid="$(var.GUID_TipDll32)" Win64="no">
                <File Id="File_TipDll32" Source="$(var.Source_TipDll32)"
                    Name="$(var.Target_TipDll32)" DiskId="1" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <!-- <Fragment>
        <ComponentGroup Id="CG_AppDataFiles" Directory="APPDATADIR">
            <Component Id="Comp_Database2" Guid="$(var.GUID_Database2)" NeverOverwrite="yes">
                <RegistryKey Root="HKCU" Key="Software\$(var.MfrName)\Settings">
                    <RegistryValue Name="database" Type="string"
                        Value="[APPDATADIR]$(var.Target_Database)" KeyPath="yes" />
                </RegistryKey>
                <File Id="File_Database2" Source="$(var.Source_Database)"
                    Name="$(var.Target_Database)" DiskId="1" />
                <RemoveFolder Id="Remove_AppDataDir" On="uninstall" />
            </Component>
          ?  <Component Id="Comp_Config2" Guid="$(var.GUID_Config2)" NeverOverwrite="yes">
                <RegistryKey Root="HKCU" Key="Software\$(var.MfrName)\Settings">
                    <RegistryValue Name="config_ini" Type="string"
                        Value="[APPDATADIR]$(var.Target_Config)" KeyPath="yes" />
                </RegistryKey>
                <File Id="File_Config2" Source="$(var.Source_Config)" Name="$(var.Target_Config)"
                    DiskId="1" />
            </Component>
          ?  <Component Id="Comp_UserDb2" Guid="$(var.GUID_UserDb2)" NeverOverwrite="yes">
                <RegistryKey Root="HKCU" Key="Software\$(var.MfrName)\Settings">
                    <RegistryValue Name="user_db" Type="string"
                        Value="[APPDATADIR]$(var.Target_UserDb)" KeyPath="yes" />
                </RegistryKey>
                <File Id="File_UserDb2" Source="$(var.Source_UserDb)" Name="$(var.Target_UserDb)"
                    DiskId="1" />
            </Component> 
        </ComponentGroup>
    </Fragment> -->

    <Fragment>
        <ComponentGroup Id="CG_StartMenuShortcut" Directory="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="$(var.GUID_StartMenuShortcut)">
                <RegistryKey Root="HKCU" Key="Software\$(var.MfrName)">
                    <RegistryValue Name="installed" Type="integer" Value="1" KeyPath="yes" />
                </RegistryKey>
                <Shortcut Id="ApplicationStartMenuShortcut"
                    Name="Khiin PJH"
                    Description="Khiin Phah Ji Hoat"
                    Target="[!File_AppExe]"
                    WorkingDirectory="INSTALLDIR64" />
                <RemoveFolder Id="Remove_ApplicationProgramsFolder" On="uninstall" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="CG_RegistryEntries" Directory="TARGETDIR">
            <Component Id="RegistrySettings" Guid="$(var.GUID_RegistrySettings)">
                <RegistryKey Root="HKCU" Key="Software\$(var.MfrName)\Settings">
                    <RegistryValue Name="settings_exe" Type="string"
                        Value="[INSTALLDIR64]$(var.Target_AppExe)" />
                </RegistryKey>
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <!-- <CustomAction Id="CA_CopyDatabaseToAppData"
            Directory="INSTALLDIR64"
            ExeCommand="&quot;[INSTALLDIR64]$(var.Target_ServiceExe)&quot; -old &quot;[APPDATADIR]$(var.Target_Database)&quot; -new &quot;[INSTALLDIR64]$(var.Target_Database)&quot;"
            Execute="deferred"
            Return="check"
            Impersonate="no"
        /> -->

        <!-- <InstallExecuteSequence>
            <Custom Action="CA_CopyDatabaseToAppData" After="InstallFiles">NOT Installed</Custom>
        </InstallExecuteSequence> -->
    </Fragment>
</Wix>