@import url("../node_modules/boxicons/css/boxicons.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url("/POJChhiuKi-Bold.woff2") format("woff2");
    font-family: "POJ ChhiuKi";
    font-style: normal;
    font-weight: 700;
}

@font-face {
    src: url("/POJChhiuKi-Italic.woff2") format("woff2");
    font-family: "POJ ChhiuKi";
    font-style: italic;
    font-weight: 400;
}

@font-face {
    src: url("/POJChhiuKi-Regular.woff2") format("woff2");
    font-family: "POJ ChhiuKi";
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: "POJ ChhiuKi", Inter, Avenir, Helvetica, Arial,
        "Microsoft Yahei", sans-serif;
    background-color: #ffffff;
}
