$text-color: #0f0f0f;
$surface-bgcolor: #fafafa;
$highlight-bgcolor: #eaeaea;
$primary: #00d9c0;

@font-face {
    src: url("../public/POJChhiuKi-Bold.woff2") format("woff2");
    font-family: "POJ ChhiuKi";
    font-style: normal;
    font-weight: 700;
}

@font-face {
    src: url("../public/POJChhiuKi-Italic.woff2") format("woff2");
    font-family: "POJ ChhiuKi";
    font-style: italic;
    font-weight: 400;
}

@font-face {
    src: url("../public/POJChhiuKi-Regular.woff2") format("woff2");
    font-family: "POJ ChhiuKi";
    font-style: normal;
    font-weight: 400;
}

:root {
    font-family: "POJ ChhiuKi", Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: $text-color;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.side-menu {
    flex: 1;
    background-color: $surface-bgcolor;
    display: flex;
    flex-direction: column;

    .menu-label {
        margin: 0;
        font-variant-caps: all-small-caps;
        font-synthesis-small-caps: auto;
        padding: 1em;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-inline-start: 0;
        box-sizing: border-box;
        margin: 0;

        a {
            display: block;
            padding: 1em 2em 1em 2em;
            text-decoration: none;
            color: #0f0f0f;

            &:hover {
                background-color: $highlight-bgcolor;
                transition: background-color 0.1s ease-in-out;
            }

            &.active {
                background-color: $primary;
                transition: background-color 0.2s ease-in-out;
            }
        }
    }
}

.content-wrapper {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.settings-screen {
    padding: 2em;
    align-self: center;
}

.logo {
    width: 6em;
    height: 6em;
}

h1 {
    font-size: 1.75em;
    font-weight: 700;
}
