#pragma code_page(65001)
#include <winresrc.h>
#include "../res/resource.h"

ID_SETTINGS_MANIFEST RT_MANIFEST "settings.exe.manifest"

IDD_APPEARANCETAB DIALOGEX 0, 0, 187, 200
STYLE DS_SETFONT | DS_MODALFRAME | WS_CHILD | WS_CAPTION
CAPTION "APPEARANCE"
FONT 11, "Microsoft JhengHei UI", 400, 0, 0x0
BEGIN
    LTEXT           "COLsOR",IDL_COLOR,7,7,138,8
    COMBOBOX        IDC_COMBOBOX_THEME_COLOR,7,17,138,12,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "CANDIDATE_SIZE",IDL_CANDIDATE_SIZE,7,38,138,8
    CONTROL         "",IDC_CANDIDATE_SIZE,"msctls_trackbar32",TBS_AUTOTICKS | TBS_BOTH | WS_TABSTOP,14,48,121,15
    LTEXT           "SMALLER",IDL_CANDIDATE_SIZE_S,16,66,33,8
    RTEXT           "LARGER",IDL_CANDIDATE_SIZE_L,90,66,39,8
    LTEXT           "EDIT_TRY",IDL_EDIT_TRY,7,135,138,8
    EDITTEXT        IDC_EDIT_TRY,7,146,138,12,ES_AUTOHSCROLL
    LTEXT           "DISPLAY_LANGUAGE",IDL_DISPLAY_LANGUAGE,7,112,138,8
    COMBOBOX        IDC_DISPLAY_LANGUAGE,7,120,138,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_INPUTTAB DIALOGEX 0, 0, 187, 200
STYLE DS_SETFONT | DS_MODALFRAME | WS_CHILD | WS_CAPTION
CAPTION "INPUT"
FONT 11, "Microsoft JhengHei UI", 400, 0, 0x0
BEGIN
    GROUPBOX        "INPUT_MODE",IDL_INPUTMODE,6,6,174,48
    CONTROL         "CONTINUOUS",IDC_INPUTMODE_CONTINUOUS,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,12,18,146,10
    CONTROL         "BASIC",IDC_INPUTMODE_BASIC,"Button",BS_AUTORADIOBUTTON,12,30,146,10
    CONTROL         "PRO",IDC_INPUTMODE_PRO,"Button",BS_AUTORADIOBUTTON,12,42,146,10
    LTEXT           "SWITCH_MODE_KEY",IDL_INPUTMODE_HOTKEY,6,60,72,8
    COMBOBOX        IDC_INPUTMODE_KEY_COMBO,6,72,84,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "ON_OFF_KEY",IDL_ON_OFF_HOTKEY,96,60,72,8
    COMBOBOX        IDC_ON_OFF_HOTKEY_COMBO,96,72,84,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "DEFAULT_PUNCT",IDL_DEFAULT_PUNCTUATION,6,90,72,8
    COMBOBOX        IDC_PUNCTUATION_COMBO,6,102,84,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "TONE_KEYS",IDL_TONE_KEYS,96,90,72,8
    COMBOBOX        IDC_TONE_KEYS_COMBO,96,102,84,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "DOTTED_O_KEY",IDL_DOTTED_O_KEY,66,120,36,8
    COMBOBOX        IDC_DOTTED_O_KEY_COMBO,66,132,24,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "NASAL_KEY",IDL_NASAL_KEY,6,120,36,8
    COMBOBOX        IDC_NASAL_KEY_COMBO,6,132,24,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "USE_UPPERCASE_NASAL",IDC_OPTION_UPPERCASE_NASAL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,150,174,10
    CONTROL         "CONVERT_KHIN_TO_DOTS",IDC_OPTION_DOTTED_KHIN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,162,174,10
    CONTROL         "ENABLE_AUTOKHIN",IDC_OPTION_AUTOKHIN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,174,174,10
    CONTROL         "EASY_CH",IDC_OPTION_EASY_CH,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,186,174,10
    LTEXT           "HYPHEN_KEY",IDL_HYPHEN_KEY,126,120,48,8
    COMBOBOX        IDC_HYPHEN_KEY_COMBO,126,132,24,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_DICTIONARYTAB DIALOGEX 0, 0, 187, 200
STYLE DS_SETFONT | DS_MODALFRAME | WS_CHILD | WS_CAPTION
CAPTION "DICTIONARY"
FONT 11, "Microsoft JhengHei UI", 400, 0, 0x0
BEGIN
    LTEXT           "EDIT_USER_DICTIONARY",IDL_EDIT_USERDICT,6,6,174,54
    PUSHBUTTON      "EDIT_USERDICT_BTN",IDC_EDIT_USEDICT_BTN,60,66,68,14
    LTEXT           "RESET_USER_DATA",IDL_RESET_USERDATA,6,114,174,48
    PUSHBUTTON      "RESET_BTN",IDC_RESET_USERDATA_BTN,60,168,66,14
END

IDD_ABOUTTAB DIALOGEX 0, 0, 187, 200
STYLE DS_SETFONT | DS_MODALFRAME | WS_CHILD | WS_CAPTION
CAPTION "ABOUT"
FONT 11, "Microsoft JhengHei UI", 400, 0, 0x0
BEGIN
    ICON            128,IDC_STATIC,14,14,20,20
    LTEXT           "KHIIN_VERSION",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "KHIIN_COPYRIGHT",IDC_STATIC,42,26,114,8
END
